<div class="container fontReg" style="text-transform: capitalize">
  <div class="col-sm-12" style="margin-top: 50px">
    Total number of posts &nbsp;:&nbsp; {{ postCount }}
  </div>
  <div class="col-sm-12">
    Total number of distinct users &nbsp;:&nbsp; {{ arrUser.length }}
  </div>
  <div class="col-sm-12">
    The mean number of posts per user &nbsp;:&nbsp; {{ mean }}
  </div>
  <div class="col-sm-12 box mt-2">
    To check the log reports please check console ( ctrl + shift + i or Chrome
    Developer console)
  </div>
</div>
